

// ====================== navigation-ber-part ==================

.navigation-ber-part{
    padding: 10px 0;
    background: #F0F2EE;
    .navbar-brand img{
        max-width: 50px;
    }
    .card-item {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}
    