

// ====================== navigation-ber-part ==================
body{
    font-family: 'Roboto';
}
.navigation-ber-part{
    padding: 10px 0;
    background: #F0F2EE;
    .navbar-brand img{
        max-width: 50px;
    }
    .nav-item {
        padding: 0 5px;
        font-size: 16px;
        font-weight: 400;
    }
    .card-item {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .bell-icon a{
        position: absolute;
    }
    .bell-icon svg{
        width: 25px;
        height: 25px;
    }
    .cart-count {
        width: 20px;
        height: 20px;
        display: inline-block;
         background: linear-gradient(90deg, rgba(255,122,31,1) 0%, rgba(255,55,36,1) 100%);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        border-radius: 50%;
        position: relative;
        top: -6px;
        left: 8px;
    }
    .search-box{
        position: relative;
        font-size: 14px;
        input{
            font-size: 14px;
            padding-right: 80px;
        }
    }
    .search-box button{
        position: absolute;
        top: 0;
        right: 0;
        font-size: 15px;
        color: #fff;
        border: none;
        background: linear-gradient(90deg, rgba(255,122,31,1) 0%, rgba(255,55,36,1) 100%);
    }
}
    