
// header part Responsive

@media screen and (max-width:767px) {
    .card-item {
        position: fixed;
        top: 35px;
        right: 100px;
    }
}
@media screen and (min-width:767px) and (max-width:1023px) {
    .card-item {
        position: fixed;
        top: 35px;
        right: 150px;
    }
}